* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenedorVideo {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.contenedorVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.nintendoSwitch{
    width: 50em;
    height: 21.06em;
    background-color: #474149;
    position: absolute;
}
