* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* VIDEO DE FONDO */

.contenedorVideo {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.contenedorVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* TITULO CONSOLA */

.textoPresentacion{
    /* color: black; */
    color: white;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: large;
    margin-top: 2em;
}

.divTituloNSW{
    width: 72.1em;
    height: 4.2em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgba(0, 0, 0, 0);
}

.tituloNSW{
    width: 10.5em;
    height: 4.06em;
    margin-top: 4em;
    /* border: 0.1em solid black; */
}

.tituloNSW img{
    width: 100%;
    height: 100%;
    border-radius: 0.7em;
    object-fit: cover;
}

/* INDEX.HTML */

.nintendoSwitchIndex{
    width: 72.1em;
    height: 26.6em;
    position: absolute;
    /* background-color: white; */
    margin-top: 12em;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.textoPresentacion{
    /* color: black; */
    color: white;
    font-size: larger;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6);
}

.botonAccesoNSW{
    width: 14em;
    height: 6em;
    background-color: #8d393174;
    border: 0.1em solid black;
    border-radius: 1.5em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: inherit;
    /* color: white; */
    color: #ff0000;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-family: "Press Start 2P", monospace;
    animation: parpadeo 1.5s infinite;
}

.botonAccesoNSWtexto{
    font-size: larger;
    color: inherit;
    margin: 0.3em;
}

a {
    text-decoration: none;
  }

  @keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6; 
    }
    100% {
      opacity: 1;
    }
  }


/* CONTENEDOR DE LA CONSOLA COMPLETA */

.nintendoSwitch{
    width: 72.1em;
    height: 26.6em;
    position: absolute;
    /* background-color: white; */
    margin-top: 12em;
}

.consola{
    width: 35em;
    height: 15.4em;
    margin-bottom: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    /* background-color: red; */
}

.divConsolaDoc{
    width: 72.1em;
    height: 18.2em;
    /* border: 0.1em solid black; */
    margin-top: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CONTENEDOR DEL DOC */

.divDoc{
    width: 24.64em;
    height: 15.4em;
    margin-top: 5.25em;
    position: absolute;
    /* background-color: red; */
    transition: 2s;
    cursor: pointer;
}

.divDocInterno{
    width: 24.64em;
    height: 14.7em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items:center;
}

.doc{
    width: 24.64em;
    height: 14em;
    border: 0.1em solid black;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 100%);
    border-radius: 0.7em;
    display: flex;
    margin-top: 0.7em;
    transition: 2s;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.doc:hover{
    width: 24.64em;
    height: 14em;
    border: 0.1em solid black;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 100%);
    border-radius: 0.7em;
    display: flex;
    margin-top: 0.7em;
    position: absolute;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}



.divInternoDocLateral{
    width: 3.92em;
    height: 14em;
    /* border: 0.1em solid black; */
    display: flex;
    align-items: end;
}

.divInternoDocLateralInferior{
    width: 3.92em;
    height: 4em;
    /* border: 0.1em solid black; */
    display: flex;
    align-items: center;
}

.luzEncendido{
    width: 1em;
    height: 0.4em;
    border: 0.1em solid black;
    background-color: #141618;
}

.divInternoDocCentro{
    width: 16.8em;
    height: 14em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.divImgDoc{
    width: 8.4em;
}

.divImgDoc img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.divPatasDoc{
    width: 24.64em;
    display: flex;
    justify-content: center;
}

.patasDoc{
    width: 24.64em;
    height: 0.35em;
    /* border: 0.1em solid black; */
    border-radius: 0.7em;
    display: flex;
    justify-content: center;
}

.divInternoPatasDoc{
    width: 8.19em;
    height: 0.35em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
  
}

.pataDocDelanteraIzquierda{
    width: 1.4em;
    height: 0.21em;
    border: 0.1em solid black;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 100%);
    margin-right: 1.4em;
}

.pataDocTraseraIzquierda{
    width: 1.4em;
    height: 0.1em;
    border: 0.1em solid black;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 100%);
    margin-right: 2.1em;
}

.pataDocDelanteraDerecha{
    width: 1.4em;
    height: 0.21em;
    border: 0.1em solid black;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 100%);
    margin-left: 1.4em;
}

.pataDocTraseraDerecha{
    width: 1.4em;
    height: 0.1em;
    border: 0.1em solid black;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 100%);
    margin-left: 2.1em;
}


/* CUERPO DE LA CONSOLA SIN MANDOS */

.consolaConBotones{
    width: 24.64em;
    height: 14.7em;
}

.botonesPantalla{
    width: 24.64em;
    height: 0.7em;
    display: flex;
}

.divBotonPantalla{
    width: 8.19em;
    height: 0.63em;
    display: flex;
    justify-content:center;
}

#botonEncendido{
    width: 2.1em;
    height: 1em;
    border: 0.1em solid black;
    margin-left: 1.4em;
    background-color: #303235; 
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.2em;
    user-select: none;
    /* transition: 1s; */
}

#botonEncendido:hover{
    width: 2.1em;
    height: 1em;
    border: 0.1em solid black;
    margin-left: 1.4em;
    background-color: #303235; 
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.2em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#botonEncendido:active,  #volumenDown:active, #volumenUp:active{
    transform: translate(-0.1em, -0.1em);
}

#volumenDown{
    width: 2em;
    height: 1em;
    border: 0.1em solid black;
    margin-left: 1.4em;
    background-color: #303235; 
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.2em;
    user-select: none;
    /* transition: 1s; */
}

#volumenDown:hover{
    width: 2em;
    height: 1em;
    border: 0.1em solid black;
    margin-left: 1.4em;
    background-color: #303235; 
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.2em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#volumenUp{
    width: 2em;
    height: 1em;
    border: 0.1em solid black;
    margin-left: 0.56em;
    background-color: #303235; 
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.2em;
    user-select: none;
    /* transition: 1s; */
}

#volumenUp:hover{
    width: 2em;
    height: 1em;
    border: 0.1em solid black;
    margin-left: 0.56em;
    background-color: #303235; 
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.2em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.cuerpoPantalla{
    width: 24.6em;
    height: 14em;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 100%);
    border: 0.1em solid black;
    border-radius: 0.7em 0.7em 0.35em 0.35em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.bordePantalla{
    width: 23.1em;
    height: 12.6em;
    background-color: #010101; 
    border: 0.1em solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.35em;
}

.pantalla{
    width: 19.74em;
    height: 9.52em;
    background: linear-gradient(to bottom left, 
    black,
    purple,
    blue,
    green,
    yellow,
    orange,
    red,
    white);
    filter: grayscale(100%);

}

.pantalla img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#videoElement{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    display: none;
}


/* MANDO IZQUIERDO */

.joyconIzquierdo{
    width: 5.145em;
    height: 14em;
    margin-top: 0.7em;
    background-color: #55BEF4;
    background: linear-gradient(to right, #2b627d  0%, #55BEF4 20%, #55BEF4 80%, #2b627d  100%);
    border: 0.1em solid black;
    border-radius: 2.8em 0.35em 0.35em 2.8em;
    transition: 2s;
    margin-right: 29.8em;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* .joyconIzquierdo:hover{
    width: 5.145em;
    height: 14em;
    margin-top: 0.7em;
    background-color: #55BEF4;
    background: linear-gradient(to right, #2b627d  0%, #55BEF4 20%, #55BEF4 80%, #2b627d  100%);
    border: 0.1em solid black;
    border-radius: 2.8em 0.35em 0.35em 2.8em;
    transition: 2s;
    margin-right: 29.8em;
    position: absolute;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
} */

.divBotonMenos{
    width: 5.145em;
    height: 2.45em;
    display: flex;
    justify-content: end;
    align-items: end;
}

.botonMenos{
    width: 1.05em;
    height: 0.35em;
    background-color: #303235; 
    margin-right: 0.56em;
    margin-bottom: 0.35em;
}

.divJostick, .divCruceta{
    width: 5.145em;
    height: 3.92em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.jostick{
    width: 2.1em;
    height: 2.1em;
    border: 0.1em solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #5d6167 10%, #5d6167 60%, #212325 100%);
}

.circuloInteriorJostick{
    width: 1.54em;
    height: 1.54em;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #5d6167 10%, #5d6167 60%, #212325 100%);
    border: 0.1em solid black;
    border-radius: 50%;
}

.divBotonInferiorIzquierdo{
    width: 5.145em;
    height: 2.1em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0.35em;
}

.botonCapturaPantalla{
    width: 0.84em;
    height: 0.84em;
    border: 0.1em solid black;
    background-color: #303235; 
    margin-right: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7em;
}

.botonCapturaPantallaCirculoInterior{
    width: 0.63em;
    height: 0.63em;
    border: 0.1em solid black;
    background: linear-gradient(to bottom right, #303235 0%, #5d6167 45%, #5d6167 55%, #303235  100%);
    border-radius: 50%;
}

.divImgJostick{
    width: 2.52em;
    height: 2.52em;
    /* transition: 1s; */
}
/* 
.divImgJostick:hover{
    width: 2.52em;
    height: 2.52em;
    margin-bottom: 1em;
} */

.divImgJostick img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.DivImgCharmander{
    width: 3.29em;
}

.DivImgCharmander img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* MANDO DERECHO */

.joyconDerecho{
    width: 5.145em;
    height: 14em;
    margin-top: 0.7em;
    background: linear-gradient(to right, #8d3931 0%, #F36154 20%, #F36154 80%, #8d3931 100%);
    border: 0.1em solid black;
    border-radius: 0.35em 2.8em 2.8em 0.35em;
    transition: 2s;
    margin-left: 29.8em;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* .joyconDerecho:hover{
    width: 5.145em;
    height: 14em;
    margin-top: 0.7em;
    background: linear-gradient(to right, #8d3931 0%, #F36154 20%, #F36154 80%, #8d3931 100%);
    border: 0.1em solid black;
    border-radius: 0.35em 2.8em 2.8em 0.35em;
    transition: 2s;
    margin-left: 29.8em;
    position: absolute;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
} */

.divBotonMas{
    width: 5.145em;
    height: 2.45em;
    display: flex;
    align-items: end;
}

.botonMas{
    width: 1.05em;
    height: 1.05em;
    margin-left: 0.56em;
}

.row1, .row2, .row3{
    display: flex;
    width: 1.05em;
    height: 0.35em;
}

.row1col1, .row1col3, .row3col1, .row3col3{
    width: 0.35em;
    height: 0.35em;
}

.row1col2, .row2col1, .row2col2, .row2col3, .row3col2{
    background-color: #303235;
    width: 0.35em;
    height: 0.35em;
}

.divContieneCirculos{
    width: 3.5em;
    height: 3.5em;
    /* border: 0.1em solid black; */
    transform: rotate(45deg);
}

.divContieneCirculosRow{
    width: 3.5em;
    height: 1.68em;
    /* border: 0.1em solid black; */
    display: flex;
}

.divContieneCirculosRow1Col1, .divContieneCirculosRow1Col2, 
.divContieneCirculosRow12Col1, .divContieneCirculosRow2Col2{
    width: 1.68em;
    height: 1.68em;
    /* border: 0.1em solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonCruceta{
    width: 1.19em;
    height: 1.19em;
    border-radius: 50%;
    border: 0.1em solid black;
    background: linear-gradient(to right, #303235 0%, #5d6167 30%, #5d6167 70%, #303235  100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.trianguloSuperior{
    width: 0;
    height: 0;
    border-left: 0.28em solid transparent;
    border-right: 0.28em solid transparent;
    border-bottom: 0.483em solid #222325;
    transform: rotate(-45deg);
}

.trianguloDerecho{
    width: 0;
    height: 0;
    border-left: 0.28em solid transparent;
    border-right: 0.28em solid transparent;
    border-bottom: 0.483em solid #222325;
    transform: rotate(45deg);
}

.trianguloInferior{
    width: 0;
    height: 0;
    border-left: 0.28em solid transparent;
    border-right: 0.28em solid transparent;
    border-bottom: 0.483em solid #222325;
    transform: rotate(135deg);
}

.trianguloIzquierdo{
    width: 0;
    height: 0;
    border-left: 0.28em solid transparent;
    border-right: 0.28em solid transparent;
    border-bottom: 0.483em solid #222325;
    transform: rotate(225deg);
}

.divBotonInferiorDerecho{
    width: 5.145em;
    height: 2.1em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content:baseline;
    align-items: center;
    margin-top: 0.35em;
}

.botonHome{
    margin-left: 0.7em;
    margin-bottom: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBotonHome{
    width: 1.05em;
    height: 1.05em;
    cursor: pointer;
    border-radius: 50%;
    /* transition: 1s; */
}

.divBotonHome:hover{
    width: 1.05em;
    height: 1.05em;
    cursor: pointer;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.divBotonHome:active{
    transform: translate(-0.1em, -0.1em);
}

.divBotonHome img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.DivImgEevee{
    width: 3.29em;
}

.DivImgEevee img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.textoCruceta{
    color: white;
    transform: rotate(-45deg);
}

#botonA, #botonB, #botonY, #botonX{
    cursor: pointer;
    user-select: none;
    /* transition: 1s; */
}

#botonA:hover, #botonB:hover, #botonY:hover, #botonX:hover{
    cursor: pointer;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#botonA:active, #botonB:active, #botonY:active, #botonX:active {
    transform: translate(-0.1em, -0.1em);
}

.izquierdo, .derecho{
    border-radius: 50%;
    cursor: pointer;
    /* transition: 1s; */
}

.izquierdo:hover, .derecho:hover{
    cursor: pointer;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

